<?xml version="1.0" ?>
<config>
	<modules>
		<Tb_Superslider>
			<version>0.0.2</version>
		</Tb_Superslider>
	</modules>
	<frontend>
		<routers>
			<superslider>
				<use>standard</use>
				<args>
					<module>Tb_Superslider</module>
					<frontName>superslider</frontName>
				</args>
			</superslider>
		</routers>
		<layout>
		   <updates>
		        <superslider>
		             <file>superslider.xml</file>
		         </superslider>
		    </updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<superslider>
				<use>admin</use>
				<args>
					<module>Tb_Superslider</module>
					<frontName>superslider</frontName>
				</args>
			</superslider>
		</routers>
	</admin>
	<global>
		<blocks>
			<superslider>
				<class>Tb_Superslider_Block</class>
			</superslider>
		</blocks>
		<helpers>
			<superslider>
				<class>Tb_Superslider_Helper</class>
			</superslider>
		</helpers>
		<blocks>
			<superslider>
				<class>Tb_Superslider_Block</class>
			</superslider>
		</blocks>
		<models>
			<superslider>
				<class>Tb_Superslider_Model</class>
				<resourceModel>superslider_mysql4</resourceModel>
			</superslider>
			<superslider_mysql4>
				<class>Tb_Superslider_Model_Mysql4</class>
				<entities>
					<superslider>
						<table>superslider</table>
					</superslider>
				</entities>
			</superslider_mysql4>
		</models>
		<resources>
			<superslider_setup>
                <setup>
                    <module>Tb_Superslider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
			</superslider_setup>
			<superslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </superslider_write>
            <superslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </superslider_read>
		</resources>
	</global>
</config>